body {
    background-color: rgb(253, 194, 117);
}

.heading,
.small {
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
    color: rgb(255, 207, 135) ;
}

.heading {
    color: rgb(179, 126, 48);
}

.heading.small {
    color: rgb(194, 148, 70);
}

.recipe {
    color: lightskyblue;
    background-color: blue;
    font-family: fantasy;
}